<div class="container">
  <ul>
    <div>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><i class="fa-solid fa-chevron-right"></i></li>
      <li>
        <a routerLink="/product" routerLinkActive="active"> Product Details </a>
      </li>
    </div>
  </ul>
</div>

@if(product$ | async; as prod){ @if (isCartAdded$| async) { @if (addedProduct$ |
async ; as product) { @if (product.stock<=0) {
<div class="bad-notification">{{ product.title }} is out of stock</div>
}@else{
<div class="notification">You Added {{ product.title }} Successfully</div>
} } }
<div class="product-container">
  <div class="product-image">
    @if(prod.images.length){
    <swiper-container
      class="mySwiper"
      navigation="true"
      pagination="true"
      keyboard="true"
      mousewheel="true"
      css-mode="true"
    >
      @for (img of prod.images; track $index) {
      <swiper-slide>
        <img [src]="img" alt="swiperImg" />
      </swiper-slide>
      }
    </swiper-container>
    } @else {
    <img [src]="prod.thumbnail" alt="swiperImg" />
    }
  </div>
  <div class="product-detail">
    <div class="product-title">
      <h2 class="title">
        {{ prod.title }}
      </h2>
      <div class="brand">
        <span class="brand-title">{{ capitalizeFirstLetter(prod.brand) }}</span>
        <span class="code">{{ prod._id }}</span>
      </div>
    </div>
    <p class="description-title">Description</p>
    <p class="description-value">
      {{ prod.description }}
    </p>
    <p class="stock">Issue Date</p>
    <p class="stock-value">{{ prod.issueDate | date }}</p>
    <p class="stock">Stock</p>
    <p class="stock-value">{{ prod.stock }}</p>
  </div>
  <div>
    <div class="product-price">
      <div class="price-detail">
        <div class="price-now">
          <span class="price-current">{{ prod.price.current }}</span>
          <span class="price-currency">{{ prod.price.currency }}</span>
        </div>
        <span class="price-before"
          >{{ prod.price.beforeDiscount }} {{ prod.price.currency }}</span
        >
        <span class="discount">{{ prod.price.discountPercentage }}%</span>
      </div>

      <button
        class="AddToCart"
        [disabled]="prod.stock <= 0"
        (click)="onAddtoCart(prod._id)"
      >
        Add to cart
      </button>
    </div>
    <div class="additional-info">
      <p class="info-title">Additional information</p>
      <div class="shipping-details">
        <img
          src="https://cdn0.it4profit.com/s3size/rt:fill/w:24/h:24/g:no/el:1/f:webp/plain/s3://cms/product/c8/a8/c8a8d47c9961a3c48934bae275ca5ea0/possibilities_1_removebg_preview_1_2.svg"
          alt="image1"
        /><span>Credit</span>
      </div>
      <div class="shipping-details">
        <img
          src="https://cdn0.it4profit.com/s3/cms/category/3f/f7/3ff7b3fcb6f7c670fa8b52d69722b6c7/macbook_custom.svg"
          alt="image2"
        /><span>Order a custom model</span>
      </div>
      <div class="shipping-details">
        <img
          src="https://cdn0.it4profit.com/s3/cms/product/e8/35/e8356d490e8684facc8bce0a1cc9209d/reuse_1.svg"
          alt="image3"
        /><span>Trade-in</span>
      </div>
      <div class="shipping-details">
        <img
          src="https://cdn0.it4profit.com/s3/cms/product/54/18/5418bcb234752655d9dcc9f0dfe58900/carbon_delivery.svg"
          alt="image4"
        /><span>Fast courier shipping</span>
      </div>
    </div>
  </div>
</div>
} @else {

<div class="product-container">
  <img
    class="not-found"
    src="https://www.wolfgangdigital.com/uploads/blog/How_to_manage_out_of_date_stock_for_eCommerce.jpg"
    alt=""
  />
</div>
}
<app-contact-us></app-contact-us>
