<div class="container">
  <ul>
    <div>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><i class="fa-solid fa-chevron-right"></i></li>
      <li><a routerLink="/product" routerLinkActive="active">product</a></li>
    </div>
  </ul>
</div>

<div class="product-container">
  <div class="product-image">
    <img
      src="https://png.pngtree.com/png-vector/20221004/ourmid/pngtree-macbook-pro-mockup-png-image_6278049.png"
      alt="productPhoto"
    />
  </div>
  <div class="product-detail">
    <div class="product-title">
      <h2 class="title">
        MacBook Air 13.6" Apple M2 (8C CPU/8C GPU), 8 GB, 256 GB, Space Gray,
        (Russian/US English)
      </h2>
      <div class="brand">
        <span class="brand-title">Apple</span>
        <span class="code">art: mlx3ru</span>
      </div>
    </div>
    <p class="description-title">Description</p>
    <p class="description-value">
      The Apple iPhone 12, in a striking red hue, features 64GB of storage, an
      impressive A14 Bionic chip, dual-camera system, and a stunning Super
      Retina XDR display. It combines sleek design with powerful performance.
    </p>
    <p class="stock">Issue Date</p>
    <p class="stock-value">2024:05:01</p>
    <p class="stock">Stock</p>
    <p class="stock-value">50</p>
  </div>
  <div>
    <div class="product-price">
      <div class="price-detail">
        <div class="price-now">
          <span class="price-current">3699</span>
          <span class="price-currency">GEL</span>
        </div>
        <span class="price-before">3799 GEL</span>
        <span class="discount">-3%</span>
      </div>
      <button class="AddToCart">Add to cart</button>
    </div>
    <div class="additional-info">
      <p class="info-title">Additional information</p>
      <div class="shipping-details">
        <img
          src="https://cdn0.it4profit.com/s3size/rt:fill/w:24/h:24/g:no/el:1/f:webp/plain/s3://cms/product/c8/a8/c8a8d47c9961a3c48934bae275ca5ea0/possibilities_1_removebg_preview_1_2.svg"
          alt="image1"
        /><span>Credit</span>
      </div>
      <div class="shipping-details">
        <img
          src="https://cdn0.it4profit.com/s3/cms/category/3f/f7/3ff7b3fcb6f7c670fa8b52d69722b6c7/macbook_custom.svg"
          alt="image2"
        /><span>Order a custom model</span>
      </div>
      <div class="shipping-details">
        <img
          src="https://cdn0.it4profit.com/s3/cms/product/e8/35/e8356d490e8684facc8bce0a1cc9209d/reuse_1.svg"
          alt="image3"
        /><span>Trade-in</span>
      </div>
      <div class="shipping-details">
        <img
          src="https://cdn0.it4profit.com/s3/cms/product/54/18/5418bcb234752655d9dcc9f0dfe58900/carbon_delivery.svg"
          alt="image4"
        /><span>Fast courier shipping</span>
      </div>
    </div>
  </div>
</div>
