<header [style.overflow]="overflow">
  <div class="header">
    <div class="headerbar" [style.right]="right">
      <div class="account">
        <ul>
          <li>
            <a (click)="closeBar()" routerLink="/home">
              <i class="fa-solid fa-house-chimney"></i>
            </a>
          </li>
          <div class="logo">
            <a (click)="closeBar()" routerLink="/home">
              <img src="assets/images/apple-logo.png" alt="logo" />
            </a>
          </div>

          <li>
            <a (click)="closeBar()" routerLink="">
              <i class="fa-solid fa-user" id="user-mb"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="nav">
        <ul>
          <li (click)="closeBar()"><a routerLink="/home">Home</a></li>
          <li (click)="closeBar()"><a routerLink="">About</a></li>
          <li (click)="closeBar()"><a routerLink="/services">Services</a></li>
          <li (click)="closeBar()"><a routerLink="">Delivery</a></li>
          <li (click)="closeBar()"><a routerLink="/products">Products</a></li>
          <li (click)="closeBar()"><a routerLink="">Cart</a></li>
        </ul>
      </div>
    </div>
    <div class="logo">
      <a routerLink="/home"
        ><img src="assets/images/apple-logo.png" alt="logo"
      /></a>
    </div>
    <div id="adress">
      <a routerLink="/home"><h5>iSpace</h5></a>
    </div>
    <div class="bar">
      <i class="fa solid fa-bars" (click)="burgerBar()"></i>
      <i
        class="fa solid fa-xmark"
        id="hdcross"
        (click)="closeBar()"
        [style.display]="display"
      ></i>
    </div>
    <div class="nav">
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="">About</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="">Delivery</a></li>
        <li><a routerLink="/products">Products</a></li>
        <li><a routerLink="">Cart</a></li>
      </ul>
    </div>
    <div class="account">
      <ul>
        <li>
          <a routerLink="">
            <i class="fa-solid fa-house"></i>
          </a>
        </li>
        <li>
          <a routerLink="">
            <i class="fa-solid fa-user" id="user-lap"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
