@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.headerbar {
  display: none;
}

.bar {
  display: none;
}

.logo img {
  width: 140px;
}

#adress h5 {
  font-size: 1.9rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin: 0 10px;
  min-width: 150px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  z-index: 9999;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px 40px;
  background-color: #1d1d1f;
  border-bottom: 10px;
  box-shadow: 0px 5px 20px 1px rgba(198, 198, 198, 0.968);
}

.header ul {
  display: flex;
  align-items: center;
}

.header ul li a:hover,
.fa-user:hover,
.fa-house:hover {
  color: #0075de;
}

.nav ul li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 2rem;
  font-family: "Montserrat";
  padding: 0 10px;
  color: #fff;
}

.account ul li {
  padding: 0 15px;
  font-size: 20px;
}

.active {
  color: #1792ff !important;
}

.bar i:hover {
  color: rgb(245, 237, 237);
}

.burger-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.hamburger-active .burger-bar:nth-child(2) {
  opacity: 0;
}

.hamburger-active .burger-bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-active .burger-bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* for userName */

.username {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  padding-left: 8px;
  color: #0088ff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.username:hover {
  text-shadow: 1px 1px 3px #0075de;
}

@media only screen and (max-width: 780px) {
  .header .nav,
  .header .account {
    display: none;
  }

  .search {
    width: 60vw;
  }

  .username {
    font-size: 12px;
  }

  .bar {
    display: block;
    cursor: pointer;
  }

  .headerbar {
    z-index: 3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -100%;
    bottom: 0;
    width: 100%;
    transition: all 0.5s;
    height: 100vh;
    background-color: #1d1d1f;
  }

  .headerbar .nav {
    display: block;
    font-size: 18px;
    height: 100%;
  }

  .header .fa-bars {
    font-size: 25px;
  }

  .bar .fa-xmark {
    z-index: 3;
    display: none;
    top: 20px;
    right: 5w;
    position: absolute;
    font-size: 25px;
  }

  .headerbar .nav ul {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .headerbar .nav li {
    margin: 50px;
    padding: 15px 30px;
    border-bottom: 1px solid #363636;
    font-size: 22px;
    margin-top: 5px;
  }

  .headerbar .account {
    line-height: 40px;
    margin-top: 60px;
    background-color: rgb(93, 93, 93);
    padding: 15px;
  }

  .headerbar .account ul {
    justify-content: space-around;
  }
  .headerbar .account ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
  }
  .header {
    justify-content: space-between;
  }

  .account .logo img {
    width: 50px;
  }
}
