<div class="container">
  <ul>
    <div>
      <li><a routerLink="/home">Home</a></li>
      <li><i class="fa-solid fa-chevron-right"></i></li>
      <li><a routerLink="/delivery">Delivery</a></li>
    </div>
  </ul>

  <h1 class="title-of-head">Loyalty wallet</h1>

  <div class="loyalty-container">
    <div class="title">
      <h1>Loyalty Program</h1>
      <p>Shop at iSpace and get bonuses on every purchase</p>
    </div>
    <div class="img">
      <img src="assets/wallet-images/walletimg.webp" alt="" />
    </div>
  </div>

  <h2>Bonuses are convenient</h2>

  <div class="cards-container">
    <div class="card">
      <img src="assets/wallet-images/walletimg2.png" alt="img1" />
      <p><strong>Get bonuses</strong></p>
      <p>Get 0.5% to 2% bonuses on your loyalty card.</p>
    </div>
    <div class="card">
      <img src="assets/wallet-images/walletimg3.webp" alt="img1" />
      <p><strong>1 bonus - 1 GEL</strong></p>
      <p>A simple and understandable bonus accrual system.</p>
    </div>
    <div class="card">
      <img src="assets/wallet-images/wallletimg4.png" alt="img1" />
      <p><strong>Get bonuses</strong></p>
      <p>Pay with bonuses up to 30% of the purchase price.</p>
    </div>
  </div>
  <h2>Didn't get a Wallet card yet?</h2>

  <div class="loyalty-container">
    <div class="title">
      <h1>Scan the QR code</h1>
      <p>
        Also, the QR code is indicated in stores near the cash desks Wallet.
      </p>
    </div>
    <div class="img">
      <img src="assets/wallet-images/walletimg5.webp" alt="" />
    </div>
  </div>

  <div class="cards-container">
    <div class="card">
      <img src="assets/wallet-images/walletimg6.webp" alt="img1" />
      <p><strong>Register to receive the 'Customer Card'</strong></p>
      <p>Just a couple of steps to have your card on your phone</p>
    </div>
    <div class="card">
      <img src="assets/wallet-images/walletimg7.webp" alt="img1" />
      <p><strong>Add a registration card to the Wallet app.</strong></p>
      <p>The app is available for iOS users, Apple wallet</p>
    </div>
  </div>
</div>

<app-contact-us></app-contact-us>
