<div class="container">
  <ul>
    <div>
      <li><a routerLink="/home">Home</a></li>
      <li><i class="fa-solid fa-chevron-right"></i></li>
      <li>
        <a routerLinkActive="active" routerLink="/products">All Products</a>
      </li>
    </div>
  </ul>
</div>

<div class="categories">
  <div class="activeImg">
    <img src="assets/prodCategories/allproduct.png" alt="laptopCategory" />
  </div>
</div>

<div class="filter-container">
  <div class="filter">
    <form [formGroup]="filterForm">
      <!-- Categories -->
      <app-dropdown-filter [title]="'Category'">
        <div class="selection">
          <li
            [class.selected]="filterForm.value.category_id === null"
            (click)="selectCaregory('')"
          >
            All
          </li>
          <li
            [class.selected]="filterForm.value.category_id === '1'"
            (click)="selectCaregory('1')"
          >
            Laptops
          </li>
          <li
            [class.selected]="filterForm.value.category_id === '2'"
            (click)="selectCaregory('2')"
          >
            Phones
          </li>
        </div>
      </app-dropdown-filter>
      <!-- end of Categories -->
      <!-- sort By control -->
      <app-dropdown-filter [title]="'Sort By'">
        <div class="selection">
          <li
            [class.selected]="filterForm.value.sort_by === null"
            (click)="selectSortBy('')"
          >
            Default
          </li>
          @for (sort of sortByArr ; track sort) {

          <li
            (click)="selectSortBy(sort)"
            [class.selected]="filterForm.value.sort_by === sort"
          >
            {{ capitalizeFirstLetter(sort) }}
          </li>
          }
        </div>
      </app-dropdown-filter>
      <!--  end of sort control -->

      <!-- sort dir control -->

      <app-dropdown-filter [title]="'Sort Direction'">
        <div class="selection">
          <li
            [class.selected]="filterForm.value.sort_direction === null"
            (click)="selectSortDir('')"
          >
            Default
          </li>
          @for (sort of sortByDir ; track sort) {

          <li
            (click)="selectSortDir(sort)"
            [class.selected]="filterForm.value.sort_direction === sort"
          >
            {{ sort }}
          </li>
          }
        </div>
      </app-dropdown-filter>
      <!-- end of sort dir control -->
      <!-- brand control -->

      <app-dropdown-filter [title]="'Brands'">
        <div class="selection">
          <li
            [class.selected]="filterForm.value.brand === null"
            (click)="selectBrand('')"
          >
            All
          </li>
          @for (brand of brands$ | async; track brand) {
          <li
            (click)="selectBrand(brand)"
            [class.selected]="filterForm.value.brand === brand"
          >
            {{ capitalizeFirstLetter(brand) }}
          </li>
          }
        </div>
      </app-dropdown-filter>
      <!-- end of brand control -->

      <input
        placeholder="Search Product"
        class="form-control mb-2"
        type="text"
        id="keywords"
        formControlName="keywords"
      />

      <!-- price control -->
      <div class="wrapper">
        <div class="price-input">
          <div class="field">
            <input
              formControlName="minPrice"
              type="number"
              class="input-min"
              value="0"
            />
          </div>
          <div class="field">
            <input
              formControlName="maxPrice"
              type="number"
              class="input-max"
              value="10000"
            />
          </div>
        </div>
        <div class="slider">
          <div class="progress"></div>
        </div>
        <div class="range-input">
          <input
            formControlName="minPrice"
            type="range"
            class="range-min"
            min="0"
            max="10000"
            value="0"
          />
          <input
            formControlName="maxPrice"
            type="range"
            class="range-max"
            min="0"
            max="10000"
            value="10000"
          />
        </div>
      </div>
      <!-- end of price control -->
    </form>
  </div>
  <div class="cards-container">
    @for (item of allProduct$ | async; track item._id) {
    <div class="card">
      <a [routerLink]="['/', 'product', item._id]">
        <div class="card-img">
          <img [src]="item.thumbnail" alt="product-img" />
        </div>
      </a>
      <div class="card-details">
        <a [routerLink]="['/', 'product', item._id]">
          <h2 class="card-title">{{ item.title | truncateString : 3 }}</h2>
        </a>
        <p class="card-brand">{{ capitalizeFirstLetter(item.brand) }}</p>
        <p class="card-date">{{ item.issueDate | date }}</p>
      </div>
      <div class="card-price">
        <p class="price">
          <span class="current">{{ item.price.current }}</span>
          <span class="currency">{{ item.price.currency }}</span>
        </p>
        <button class="button">
          <a routerLink="/home">
            <span class="cart-icon"
              >Add to cart <i class="fa-solid fa-right-long"></i
            ></span>
          </a>
        </button>
      </div>
    </div>
    }
  </div>
</div>

<app-contact-us></app-contact-us>
