@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 992px;
  width: 100%;
  margin: 130px auto 90px auto;
  padding: 0 20px;
}

.active {
  text-decoration: none;
  color: #1792ff !important;
}

ul div {
  display: flex;
  gap: 10px;
}

ul li {
  cursor: pointer;
  list-style: none;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
  letter-spacing: normal;
  text-decoration: none;
}

ul li a {
  all: unset;
  text-decoration: none;
}

.cart-empty {
  width: 100%;
}

.cart-empty img {
  max-width: 100%;
  width: 100%;
}

.button {
  width: 100%;
  margin: auto;
}

.button-29 {
  width: 100%;
  margin: auto;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.cart-container {
  max-width: 1350px;
  display: flex;
  gap: 50px;
  justify-content: space-around;
  padding: 50px 100px;
}

.cart {
  padding: 0 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.total {
  font-weight: bold;
  margin-top: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 100px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.cart-item img {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.product-title {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.product-title-detail {
  margin-bottom: 15px;
}

.details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 50px;
  flex-grow: 1;
}

.product-details {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
  flex: 1;
  width: 60%;
  align-items: center;
}

.product-title-detail p {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.details h3 {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.details p {
  margin: 5px 0;
}

.delete-button {
  font-size: 16px;
  background: none;
  border: none;
}

.cart-checkout {
  max-width: 250px;
  max-height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 22px;
  border-radius: 30px;
  border: 2px solid #0a84ff;
}

.items-quantity {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.items-quantity,
.total-cost,
.checkout-button,
.products-quantity {
  font-family: Arial, Helvetica, sans-serif;
}

.items-quantity span {
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
}

.items-quantity div {
  font-weight: 400;
  color: #4b4d51;
  font-size: 14px;
}

.products-quantity {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  margin-top: 24px;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 24px;
}

.total-cost {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cost-title {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.cost {
  display: flex;
  font-size: 17px;
  gap: 10px;
  font-weight: 600;
  color: #4b4d51;
}

.checkout-button button {
  margin-top: 24px;
  width: 100%;
}

@media only screen and (max-width: 780px) {
  .cart-container {
    flex-wrap: wrap;
  }
}
