<div class="container">
  <ul>
    <div>
      <li><a routerLink="/home">Home</a></li>
      <li><i class="fa-solid fa-chevron-right"></i></li>
      <li>
        <a routerLink="/cart" routerLinkActive="active">Your Cart</a>
      </li>
    </div>
  </ul>
</div>
@if(cart$ | async ; as cart){

<ul>
  @for (product of cart.products; track product.productId) {
  <li>{{ product.productId }}</li>

  }
</ul>
<div class="cart-container">
  <div class="cart">
    <div class="cart-item">
      <div class="product-title">
        <img
          src="https://png.pngtree.com/png-vector/20221004/ourmid/pngtree-macbook-pro-mockup-png-image_6278049.png"
          alt="macbook-pro"
        />
        <div class="product-title-detail">
          <h3>Macbook Pro</h3>
          <p>Product code : MTV03h</p>
        </div>
      </div>
      <div class="product-details">
        <div class="price-quantity">
          <p>Quantity: 3</p>
          <p>4500 GEL</p>
        </div>
        <button class="delete-button"><i class="fa-solid fa-trash"></i></button>
      </div>
    </div>
    <div class="cart-item">
      <div class="product-title">
        <img
          src="https://png.pngtree.com/png-vector/20221004/ourmid/pngtree-macbook-pro-mockup-png-image_6278049.png"
          alt="macbook-pro"
        />
        <div class="product-title-detail">
          <h3>Macbook Pro</h3>
          <p>Product code : MTV03h</p>
        </div>
      </div>
      <div class="product-details">
        <div class="price-quantity">
          <p>Quantity: 3</p>
          <p>4500 GEL</p>
        </div>
        <button class="delete-button"><i class="fa-solid fa-trash"></i></button>
      </div>
    </div>
  </div>

  <div class="cart-checkout">
    <div class="items-quantity">
      <span>Cart</span>
      <div>2 items</div>
    </div>
    <div class="products-quantity">Products (3)</div>
    <div class="total-cost">
      <span class="cost-title">Total Cost</span>
      <span class="cost"
        ><span class="current">11 747</span>
        <span class="currency">Gel</span></span
      >
    </div>
    <div class="checkout-button">
      <button>Checkout</button>
    </div>
  </div>
</div>
}@else {
<div class="cart-empty">
  <img src="assets/images/cartEmpty.png" alt="cartEmpty" />
  <!-- HTML !-->
  <div class="button">
    <a routerLink="/products">
      <button class="button-29" role="button">Shop Now</button></a
    >
  </div>
</div>
}
