@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#verifyImg {
  margin: auto;
  width: 900px;
  max-width: 100%;
  display: flex;
}

.container {
  max-width: 992px;
  width: 100%;
  margin: 130px auto 90px auto;
  padding: 0 20px;
}

.active {
  text-decoration: none;
  color: #1792ff !important;
}

ul div {
  display: flex;
  gap: 10px;
}

ul li {
  cursor: pointer;
  list-style: none;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
  letter-spacing: normal;
  text-decoration: none;
}

ul li a {
  all: unset;
  text-decoration: none;
}

.cart-empty {
  width: 100%;
}

.cart-empty img {
  max-width: 100%;
  width: 100%;
}

.button {
  width: 100%;
  margin: auto;
}

.button-29 {
  width: 100%;
  margin: auto;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.cart-container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  justify-content: space-around;
  padding: 50px 100px;
}

.cart {
  padding: 0 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.total {
  font-weight: bold;
  margin-top: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.cart-item-img {
  width: 80px;
  height: 100px;
  display: flex;
  align-items: center;
}

.cart-item-img img {
  width: 100%;
  height: auto;
}

.product-title {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 10px;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.product-title-detail {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 150px;
}

.details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 50px;
  flex-grow: 1;
}

.product-details {
  display: flex;
  gap: 15px;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.product-title-detail p {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.price-current {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #4b4d51;
}

.price-currency {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.details h3 {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.details p {
  margin: 5px 0;
}

.delete-button {
  cursor: pointer;
  font-size: 18px;
  background: none;
  border: none;
}

.delete-button i:hover {
  scale: 1.1;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14),
    0 0 0 0 rgba(0, 0, 0, 0.12) !important;
}

.cart-checkout {
  max-width: 250px;
  max-height: 280px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 22px;
  border-radius: 30px;
  border: 2px solid #0a84ff;
}

.items-quantity {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.items-quantity,
.total-cost,
.checkout-button,
.products-quantity {
  font-family: Arial, Helvetica, sans-serif;
}

.items-quantity span {
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
}

.items-quantity div {
  font-weight: 400;
  color: #4b4d51;
  font-size: 14px;
}

.products-quantity {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  margin-top: 24px;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 24px;
}

.total-cost {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cost-title {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.cost {
  display: flex;
  font-size: 17px;
  gap: 10px;
  font-weight: 600;
  color: #4b4d51;
}

.checkout-button button {
  font-size: 18px;
  margin-top: 24px;
  width: 100%;
  min-width: 64px;
  height: 54px;
  padding: 16px 50px;
  max-width: unset;
  width: 100%;
  border: 2px solid #2397ff;
  border-radius: 50px;
  background-color: #2397ff;
  color: #ffffff;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14),
    0 0 0 0 rgba(0, 0, 0, 0.12) !important;
}

.cartEmpty {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  height: 100%;
}

.cartEmpty p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 600;
  width: 100%;
  height: 80px;
  padding: 16px 50px;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  background: linear-gradient(
    to right,
    rgba(103, 4, 4, 0.9),
    rgba(0, 0, 0, 0.65)
  );
  color: #fff;
  text-shadow: 3px 3px 3px rgba(4, 4, 4, 0.9);
}

.cartEmpty a {
  all: unset;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cartEmpty button {
  cursor: pointer;
  max-width: 250px;
  font-size: 18px;
  margin-top: 24px;
  width: 30%;
  min-width: 100px;
  height: 54px;
  border: 2px solid #2397ff;
  border-radius: 50px;
  background-color: #2397ff;
  color: #ffffff;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14),
    0 0 0 0 rgba(0, 0, 0, 0.12) !important;
}

#return:hover {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  box-shadow: 0 0px 30px 1px rgba(0, 0, 0, 0.5) !important;
}

/* spinner */

.spinner-container {
  max-width: 1350px;
  margin: 0 auto !important;
  display: flex;
  justify-content: space-around;
}

.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}

.lds-roller {
  padding-right: 0 150px !important;
  display: inline-block !important;
  position: relative;
  max-width: 80%;
  height: 200px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

@media only screen and (max-width: 780px) {
  .cart-container {
    flex-wrap: wrap;
    padding: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .cartEmpty p {
    padding: 0;
    font-size: 16px;
    align-items: center;
  }

  .checkout-button button {
    height: 54px;
    max-width: 150px;
    width: 100%;
    padding: 15px;
  }
}
