<div class="slider-container">
  <div class="slider">
    <div class="slider-track">
      <!-- slides -->
      <div class="slide">
        <a href="#"
          ><img src="assets/sliderImages/sliderIMG1.webp" alt="slideIMG1"
        /></a>
      </div>
      <div class="slide">
        <a href="#"
          ><img src="assets/sliderImages/sliderIMG2.webp" alt="slideIMG2"
        /></a>
      </div>
      <div class="slide">
        <a href="#"
          ><img src="assets/sliderImages/sliderIMG3.webp" alt="slideIMG3"
        /></a>
      </div>
      <div class="slide">
        <a href="#"
          ><img src="assets/sliderImages/sliderIMG4.webp" alt="slideIMG4"
        /></a>
      </div>
      <div class="slide">
        <a href="#"
          ><img src="assets/sliderImages/sliderIMG5.webp" alt="slideIMG5"
        /></a>
      </div>
      <!-- Same Slides (doubled) -->
      <div class="slide">
        <a href="#"
          ><img src="assets/sliderImages/sliderIMG1.webp" alt="slideIMG1"
        /></a>
      </div>
      <div class="slide">
        <a href="#"
          ><img src="assets/sliderImages/sliderIMG2.webp" alt="slideIMG2"
        /></a>
      </div>
      <div class="slide">
        <a href="#"
          ><img src="assets/sliderImages/sliderIMG3.webp" alt="slideIMG3"
        /></a>
      </div>
      <div class="slide">
        <a href="#"
          ><img src="assets/sliderImages/sliderIMG4.webp" alt="slideIMG4"
        /></a>
      </div>
      <div class="slide">
        <a href="#"
          ><img src="assets/sliderImages/sliderIMG5.webp" alt="slideIMG5"
        /></a>
      </div>
    </div>
  </div>
</div>
