.dropdown-item {
  font-size: 15px;
  line-height: 22px;
  font-family: monospace;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-section {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: normal;
}

.icon-wrapper {
  font-size: 22px;
  height: 14px;
}

ul {
  padding: 0;
}

.arrow-container {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.fa-chevron-down {
  font-size: 16px;
  margin-top: 2px;
  display: inline-block;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

ul {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: display 0.8s ease, opacity 0.1s ease;
  opacity: 0.9;
  animation: fade 2s linear;
}

ul.visible {
  display: block;
  height: 100%;
  opacity: 1;
}
