.dropdown-item {
  color: #ffffff;
  font-size: 12px;
  line-height: 22px;
  font-family: monospace;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title-section {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: normal;
}

.icon-wrapper {
  font-size: 22px;
  height: 14px;
}

ul {
  padding: 0;
}

.arrow-container {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.fa-chevron-down {
  font-size: 16px;
  margin-top: 2px;
  display: inline-block;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

ul.visible {
  max-height: 200px; /* Adjust as needed */
  opacity: 1;
}
