@if (user$| async ) {
<app-sign-out [user]="user$ | async"></app-sign-out>
} @else {
<div class="location">
  <ul>
    <div>
      <li><a routerLink="/home">Home</a></li>
      <li><i class="fa-solid fa-chevron-right"></i></li>
      <li><a routerLink="/signup" routerLinkActive="isActive">Sign Up</a></li>
    </div>
  </ul>
</div>

<div class="main-container">
  @if (isLoading$|async) {
  <div class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  }
  <div class="container active">
    <!-- sign up -->
    <div class="form-container sign-up">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <h1>Create Account</h1>
        <input
          type="text"
          placeholder="FirstName"
          required
          formControlName="firstName"
        />
        @if(controls.firstName.dirty){
        @if(controls.firstName.errors?.["maxlength"]){
        <div class="text-danger">
          name is too long maximum length is
          {{controls.firstName.errors?.['maxlength']['requiredLength']}}
        </div>
        } @if(controls.firstName.errors?.["required"]){
        <div class="text-danger">Name is Required!</div>
        } }
        <input type="text" placeholder="LastName" formControlName="lastName" />
        @if(controls.lastName.dirty){
        @if(controls.lastName.errors?.["maxlength"]){
        <div class="text-danger">
          Last name is too long maximum length is
          {{controls.lastName.errors?.['maxlength']['requiredLength']}}
        </div>
        } @if(controls.lastName.errors?.["required"]){
        <div class="text-danger">Last name is Required!</div>
        } }
        <!-- email -->
        <input type="email" placeholder="Email" formControlName="email" />
        @if(controls.email.dirty && controls.email.errors){
        <div class="text-danger">Email is not valid!</div>
        }
        <!-- gender -->
        <select formControlName="gender" class="form-control">
          @for (gender of genderOptions; track gender) {
          <option [value]="gender">
            {{ gender | titlecase }}
          </option>
          }
        </select>
        <!-- phone -->
        <input type="text" placeholder="Phone" formControlName="phone" />
        <!-- password -->
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <!-- confirm password -->
        <input
          type="password"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
        />
        @if (controls.confirmPassword.dirty &&
        controls.confirmPassword.errors?.['confirmPass']) {
        <div class="text-danger">
          {{controls.confirmPassword.errors?.['confirmPass']}}
        </div>
        }
        <button class="BUTTON" [disabled]="signupForm.invalid">Sign Up</button>
        @if (errorMessage$ | async ;as errorMessage) {
        <div role="danger" class="alert">
          {{ errorMessage }}
        </div>
        }
      </form>
    </div>
    <!-- end of sign up -->

    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <img
            style="width: 280px"
            src="https://portbakumall.az/resized/fit1600x900/center/pages/88/ispace-1.png"
          />
          <p>Enter your personal details to use all of site features</p>
          <a routerLink="/signin" class="BUTTON hidden"> Sign In </a>
        </div>
        <div class="toggle-panel toggle-right">
          <h1>Register</h1>
          <p>Register with your personal details to use all of site features</p>
          <a class="BUTTON hidden"> Sign Up </a>
        </div>
      </div>
    </div>
  </div>
</div>
}
