<div class="offer-container">
  <div class="card-offer">
    <img
      src="https://cdn0.it4profit.com/s3size/rt:fill/w:0/h:0/g:no/el:1/f:webp/plain/s3://cms/image/a1/5c/a15cbad4aeefbcdafe836a7ba1d1de6d/s_feature_card_icon.svg"
      alt="offerIMG"
    />
    <span>Installment payment</span>
    <p>
      With the terms of our installment payment offer, Apple's technology will
      really suit any budget.
    </p>
  </div>
  <div class="card-offer">
    <img
      src="https://cdn0.it4profit.com/s3size/rt:fill/w:0/h:0/g:no/el:1/f:webp/plain/s3://cms/image/0d/59/0d594b24a56acfae1579108013be227d/s_feature_car_icon.svg"
      alt="offerIMG"
    />
    <span>Delivery to Tbilisi</span>
    <p>We bring you purchased products all over Georgia!</p>
  </div>
  <div class="card-offer">
    <img
      src="https://cdn0.it4profit.com/s3size/rt:fill/w:0/h:0/g:no/el:1/f:webp/plain/s3://cms/image/81/45/8145f605a6468a119cb60e887941d689/s_feature_tools_icon.svg"
      alt="offerIMG"
    />
    <span>iSpace customer assistance</span>
    <p>Technical support for all Apple products: iPhone, Mac, iPad and more.</p>
  </div>

  <div class="card-offer">
    <img
      src="https://cdn0.it4profit.com/s3size/rt:fill/w:0/h:0/g:no/el:1/f:webp/plain/s3://cms/image/41/47/41475aef0e6f73dfe03342a109db6f15/s_feature_arrows_icon.svg"
      alt="offerIMG"
    />
    <span>Trade-in</span>
    <p>
      Hand over your old device to Trade-in and benefit when buying new ones.
    </p>
  </div>
</div>
