<div class="container">
  <ul>
    <div>
      <li><a routerLink="/home">Home</a></li>
      <li><i class="fa-solid fa-chevron-right"></i></li>
      <li><a routerLink="/confidentially">Confidentially</a></li>
    </div>
  </ul>

  <h1>Confidentiality</h1>

  <h4>Confidentiality</h4>
  <div>
    <b>
      <p>
        The company assumes the responsibility that the personal information
        provided by the user is confidential and is not subject to transfer to a
        third party. (Except for the shipping company that delivers you the
        order and which is obliged to protect the confidentiality of such
        information).
      </p>
      <p>
        The site will not store your electronic card data as you enter the card
        information on the bank page to which the site will relocate you and
        which is an independent web page.
      </p>
      <p>
        By logging into the site, information is collected by your browser
        (OPERA, MOZILLA, etc.). This can be information such as the IP address
        of your computer, browser version, time spent on the site, login hours,
        pages viewed. Your identifying information is not used to process site
        statistics.
      </p>
      <p>
        The company truly values your trust that you agree to the provision of
        personal information and, respectively, that the information will be
        protected.
      </p>
      <p>
        This policy may change over some time, therefore pay attention to it.
        The changes become effective upon posting on ispace.ge and have legal
        effect.
      </p>
    </b>
  </div>
</div>
<app-contact-us />
