<app-welcome>
  <div class="welcome-container">
    <div class="welcome-image">
      <img src="assets/images/products.webp" alt="" />
    </div>
  </div>
</app-welcome>
<app-slider></app-slider>

<app-welcome>
  <h2>You can buy two types of products</h2>
</app-welcome>
<div class="container">
  @for(product of productsByCategory$ | async; track product.name){

  <app-product-category
    [routerLink]="['/', 'category', product.id]"
    [productCategory]="product"
  ></app-product-category>

  }
</div>
<app-services></app-services>
<app-contact-us></app-contact-us>
