@if (user$| async ) {
<app-sign-out [user]="user$ | async"></app-sign-out>
}@else {

<div class="main-container">
  @if(isSignUpSucces){
  <div class="card">
    <div id="success">
      <i id="i" class="checkmark">✓</i>
    </div>
    <h1 id="h1">Account Created succesfully. You can now sign in!</h1>
  </div>

  } @if (isLoading$|async) {
  <div class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  }
  <div class="container">
    <!-- sign in -->
    <div class="form-container sign-in">
      <form>
        <h1>Sign In</h1>
        <input
          type="email"
          placeholder="Email"
          name="email"
          [(ngModel)]="email"
          required
          #emailCtr="ngModel"
        />
        @if ( emailCtr.dirty && !email.includes('@')) {
        <div class="text-danger">Email is required!</div>
        }
        <input
          type="password"
          placeholder="Password"
          name="password"
          [(ngModel)]="password"
          required
          #passwordCtrl="ngModel"
        />
        @if (passwordCtrl.invalid && passwordCtrl.dirty) {
        <div class="text-danger">Password is required!</div>
        }
        <a href="#">Forget Your Password?</a>
        <button
          class="BUTTON"
          [disabled]="
            (emailCtr.dirty && !email.includes('@')) ||
            (passwordCtrl.invalid && passwordCtrl.dirty)
          "
          (click)="onSignIn()"
        >
          Sign In
        </button>
        @if (errorMessage$ | async ; as errorMessage) {
        <div role="danger" class="alert">
          {{ errorMessage }}
        </div>
        }
      </form>
    </div>
    <!-- end of sign in -->
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-right">
          <h1>Register</h1>
          <p>Register with your personal details to use all of site features</p>
          <a class="BUTTON hidden" routerLink="/signup"> Sign Up </a>
        </div>
      </div>
    </div>
  </div>
</div>
}
