<div class="container">
  <h2>Contact Us</h2>
  <div class="about-us">
    <div class="row">
      <div>
        <h4>iSpace | Online Shop</h4>
        <p>Mon - Sun , 10:00 - 22:00</p>
        <span>+(995) 322 23 53 23</span>
      </div>
    </div>
    <div class="row">
      <div>
        <h4>iSpace | City Mall</h4>
        <p>Mon - Sun , 10:00 - 22:00</p>
        <span>+(995) 322 23 53 23</span>
      </div>
      <div>
        <h4>iSpace | Tsintsadze</h4>
        <p>Mon - Sun , 10:00 - 22:00</p>
        <span>+(995) 322 23 53 23</span>
      </div>
      <div>
        <h4>iSpace | Galleria Tbilisi</h4>
        <p>Mon - Sun , 10:00 - 22:00</p>
        <span>+(995) 322 23 53 23</span>
      </div>
    </div>
    <div class="row">
      <div>
        <h4>iSpace | Tbilisi Mall</h4>
        <p>Mon - Sun , 10:00 - 22:00</p>
        <span>+(995) 322 23 53 23</span>
      </div>
      <div>
        <h4>iSpace | East Point</h4>
        <p>Mon - Sun , 10:00 - 22:00</p>
        <span>+(995) 322 23 53 23</span>
      </div>
      <div>
        <h4>iSpace | Metrocity Mall</h4>
        <p>Mon - Sun , 10:00 - 22:00</p>
        <span>+(995) 322 23 53 23</span>
      </div>
    </div>
  </div>
  <div class="contact">
    <i class="fa-solid fa-message"></i>
    <button type="button">Contact us</button>
  </div>
</div>
